[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
flake8 = "*"
setuptools = "*"
wheel = "*"
twine = "*"

[packages]
beautifulsoup4 = "~=4.8.2"
dnspython = "~=1.16.0"
requests = "~=2.22.0"
Jinja2 = "~=2.11.1"
netaddr = "*"

[requires]
python_version = "3.8"
