[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.11b1"
flake8 = "*"
setuptools = "*"
wheel = "*"
twine = "*"

[packages]
beautifulsoup4 = ">=4.8.2"
requests = ">=2.22.0"
Jinja2 = ">=2.11.3"
netaddr = ">=0.8.0"

[requires]
python_version = "3.9"
