[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
wheel = "*"
twine = "*"

[packages]
beautifulsoup4 = "~=4.12.2"
requests = "~=2.27.1"
Jinja2 = "~=3.1.1"
netaddr = "*"

[requires]
python_version = "3.9"
