iptables-save file generated at:

    {{ abspath }}

You can tell iptables to use these rules with iptables-restore:

    iptables-restore --noflush < {{ abspath }}

WARNING: If you do not include --noflush, you are very likely to lock yourself out of your system.

Once you've added these rules, save your new complete set of rules with iptables-save:

    iptables-save > /etc/iptables.rules
